.wrapper
  .header
    .main-header
      = image_tag src="/assets/logo-d3d78326971d78b06e3d6f0ba666d025a8ad681286b4d9e00e7dbe8673bcfd23.svg" 
  .main-header_box_input
    キーワードから探す
  .main-header_box_laft
    ブランド
  .main-header_box_laft-message
    カテゴリー
  .main-header_box_right
    ログイン
  .main-header_box_right-message
    新規会員登録