.destroy.js-modal
  .destroy__bg.js-destroy-close
  .destroy__content
    .destroy__content__border
    %h2.destroy__content__head
      商品を削除しました。
    .sell-select-icon
      = link_to 'トップページにもどる', root_path, class: "modal__content__link"