.modal.js-modal
  .modal__bg.js-modal-close
  .modal__content
    .modal__content__border
    %h2.modal__content__head
      お買い上げありがとうございました。
      
    .sell-select-icon
      = link_to 'トップページにもどる', root_path, class: "modal__content__link"