@import "mixin";

@mixin for_children_grandchildren {
  min-width: 220px;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
@mixin for_children_grandchildren_text {
  max-height: 16px;
  padding: 5px 20px;
  background-color: white;
  color: dimgray;
}
.category {
  &__wrapper {
    &__icon::before {
      color: #3CCACE;
    }
    &__target {
      flex: none;
      display: inline;
    }
    &__target:hover {
      color: #3CCACE;
      cursor: pointer;
    }
    &__flex {
      display: flex;
      &__parents {
        min-width: 220px;
        color: dimgray;
        font-size: 14px;
        font-weight: 600;
        line-height: 36px;
        z-index: 1;
        &__item {
          display: none;
          background-color: white;
          &__text {
            padding: 10px 20px;
          }
        }
      }
      &__children {
        z-index: 2;
        @include for_children_grandchildren;
        &__item {
          
          &__text {
            @include for_children_grandchildren_text;
          }
        }
      }
      &__grandchildren {
        z-index: 2;
        @include for_children_grandchildren;
        &__item {    
          &__text {
            @include for_children_grandchildren_text;
          }
          &__text:hover {
            background-color: whitesmoke;
          }
        }
      }
    }
  }
  &__brand {
    position: absolute;
    left: 220px;
    z-index: 2;
    margin-left: 45px;
    &__icon {
      color: #3CCACE;
      padding-left: 10px;
    }
    &__target {
      display: inline;
    }
    &__target:hover {
      color: #3CCACE;
      cursor: pointer;
    }
    &__navi {
      display: none;
      min-width: 220px;
      &__item {
        color: dimgray;
        font-size: 14px;
        font-weight: 600;
        line-height: 36px;
        &__text {
          padding: 10px 20px;
          background-color: white;
        }
      }
    }
  }
}