@import "mixin";

.destory-btn {
  font-size: 20px;
  position: relative; top:30px; left:520px;
  background: #3CCACE;
  padding: 10px;
  border-radius: 4px;
  color: #fff;
}

.main__show__content__top__itemInfo__image__ul__li__top  {
  display: none;
}

.active {
  display: block;
}

.exhead {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0 60px;
  ul {
    width: 100%;
    padding: 17px 0 16px;
    max-width: 1040px;
    font-size: 14px;
    margin: 0 auto;
    display: flex;
    li {
      padding-right: 10px;
      text-decoration: none;
    }
  }
}

.exmain {
  width: 100%;
  background: #f8f8f8;
  &__top {
    padding: 40px;
    margin: 0 auto;
    .ex-content {
      width: 700px;
      margin: 0 auto;
    }

    .show-box {
      width: 700px;
      margin: 0 auto;
      padding: 24px 40px 40px;
      background: #fff;
      &__name {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
      }
      &__body {
        margin: 16px 0 0;
        width: 100%;
        ul {
          display: flex;
          position: relative;
          list-style: none;
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
            width: auto;
            height: 100%;
            object-fit: contain;
            img {
              position: relative;
              object-fit: cover;
              height: 346px;
              width: 100%;
              
            }
          }
          &__item {
            position: relative;
            .sold-out {
              position: absolute;
              top: 0;
              opacity: 0.7;
            }
          }
          .soldOut {
            &__sell {
              display: none;
            }
            &__sold {
            position: absolute;
            transform: rotate3d(1, 1, 1, 45deg);
            }
          }

        }
      }
      &__foot {
        margin-top: 10px;
        ul {
          display: flex;
          flex-wrap: wrap;  //複数行に折り返し
          margin-left: 40px;        
          li {
            img {
              object-fit: cover;
              width: 100px;
              height: 100px;
              margin: 5px;
            }
          }
        }
      }
      .show-price {
        margin: 24px 0 24px;
        display: flex;
        justify-content: center;
        line-height: 37px;
        &__number {
          font-size: 46px;
          .fa-yen-sign {
            margin-right: 15px;
          }
          span {
            font-size: 32px;
            font-weight: bold;
            margin: 0 10px 0 0;
          }
        }
        &__tax {
          margin-top: 8px;
          margin-right: 3px;
          line-height: 50px;
          span {
            font-size: 10px;
            font-weight: normal;
            margin-top: 10px;
          }
        }
        &__shipping {
          line-height: 50px;
          margin-top: 8px;
          span {
            font-size: 20px;
            font-weight: normal;
          }
        }
      }
      .show-buy-btn {
        margin: 16px 0 10px;
        width: 620px;
        &__buy {
          height: 50px;
          margin: 0 auto 30px auto;
          background-color: #3ccace;
          line-height: 50px;
          color: white;
          cursor: pointer;
          // width: 408px;
          display: block;
          text-decoration: none;
          text-align: center;
          font-weight: bold;
          border-radius: 4px;
        }
        a {
          color: #fff;
        }
      }
      .show-user-btn {
        margin-top: 15px;
        &__edit {
          font-size: 20px;
          background: #3CCACE;
          padding: 10px;
          border-radius: 4px;
          color: #fff;
          display: block;
          text-align: center;
        }
        &__delete {
          font-size: 20px;
          background: #ea352d;
          padding: 10px;
          border-radius: 4px;
          color: #fff;
          display: block;
          text-align: center;
          margin-top: 15px;
        }
      }
      .show-exbox {
        line-height: 1.5;
        font-size: 18px;
        margin-bottom: 30px;
      }
      .show-table {
        margin-bottom: 20px
      }
        table {
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
          tbody {
            display: table-row-group;
            vertical-align: middle;
            border-color: inherit;
            tr {
              display: table-row;
              vertical-align: inherit;
              border-color: inherit;
              th {
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                padding: 8px;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
              }
              td {
                width: 61%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
                a {
                  text-decoration-line: none;
                  text-decoration-style: initial;
                  text-decoration-color: initial;
                  color: #3CCACE;
                }
              }
            }
          }
        }
      .item-table {
        padding: 10px 0 10px;
        margin-bottom: 10px;

      }
      .option-table {
        display: flex;
        justify-content: space-between;
        ul {
          margin-top: 10px;
          display: flex;
          li {
            .like-btn.option-btn.like-btn {
              margin-right: auto;
              padding: 6px 10px;
              border-radius: 40px;
              color: #3CCACE;
              border: 1px solid #ffb340;
            }
            .fa.fa-star {
              color: #3CCACE;
              display: inline-block;
              font-size: inherit;
              text-rendering: auto;
              -webkit-font-smoothing: antialiased;
            }
          }
        }
        ul {
          margin-top: 10px;
          display: flex;
          li {
            font-size: 14px;
            .report-btn__box {
              font-size: 14px;
            }
            a {
              padding: 6px 10px;
              display: inline-block;
              border-radius: 4px;
              color: #333;
              border: 1px solid #333;
              text-decoration: none;
              .fa.fa-flag {
                display: inline-block;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
              }
            }
          }
        }
      }
    }  
    .excomment-box {
      padding: 24px;
      background-color: #fff;
      margin: 10px 0;
      text-align: center;
      textarea {
        width: 100%;
        min-height: 104px;
        padding: 10px;
      }
      .message {
        padding: 8px;
        font-size: 14px;
        background-color: #f8f8f8;
        margin: 10px 0;
        text-align: left;
      }
      .comment-btn {
        font-size: 18px;
        line-height: 48px;
        background: #3CCACE;
        border: 1px solid #3CCACE;
        color: #fff;
        width: 60%;
        font-size: 18px;
        border-radius: 100px;
        .fa.fa-comment {
          color: #fff;
        }
      }
    }
    .exlinks {
      display: flex;
      justify-content: space-between;
      li a {
        text-decoration: none;
        color: #3CCACE;
        .fa {
          color: #3CCACE;
        }
      }
    }
    .exrelated a {
      display: block;
      margin: 24px 0 8px;
      color: #3CCACE;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
      position: relative;
    }
  }
}

.sell-form {
  margin: 0 40px;
  background-color: #fff;
  height: 100%;
  border-top: solid 1px #eee;
  &__default {
    width: 540px;
    margin: 8px 0 0;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  .sell__image {
    // width: 620px;
    font-size: 14px;
    margin: 0 auto;
    padding: 40px 40px 0;
    &__flex {
      display: flex;
      margin-bottom: 16px;
      &__title {
        font-weight: bold;
      }
      &__require {
        height: 16px;
        line-height: 12px;
        background-color: #3ccace;
        margin: 0 8px;
        padding: 2px 4px;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        border-radius: 2px;
      }
    }
  }
}

#previews {
  // width: 600px;
  display: flex;
  flex-wrap: wrap;
  // margin: 0 10px;
  margin: 0 auto;
  #upper-row, #lower-row {
    display: flex;
    #preview, #preview2 {
      display: flex;
      .img_view {
        height: 162px;
        width: 116px;
        margin: 0 2px;
        background-color: #f5f5f5;
        img{
          height: 128px;
          width: 116px;
          object-fit: contain;
        }
      }
      .btn_wrapper {
        display: flex;
        text-align: center;
        .btn.edit, .btn.delete {
          @include exhibition_image_btn;
        }
      }
    }
    .dropzone-area {
      margin-bottom: 10px;
      width: 620px;
      .dropzone-box {
        @include exhibition_image_dropbox;
        p {
          @include exhibition_image_p;
        }
        i {
          @include exhibition_image_p;
          top: calc(50% - 20px);
          font-size: 20px; 
        }
        .input_area {
          display: none;
        }
      }
    }
    .dropzone-area2{
      display: none;
      margin-bottom: 10px;
      width: 620px;
      .dropzone-box {
        @include exhibition_image_dropbox;
        i {
          @include exhibition_image_p;
          font-size: 20px; 
        }
        .input_area {
          display: none;
        }
      }
    }
  }
}

//jQueryで動的に追加した要素へのCSS
.image-wrapper {
  height: 190px;
  width: 110px;
  margin: 5px;
  background-color: #eee;
  img {
    height: 140px;
    width: 110px;
    object-fit: contain;
  }
  .file-remove {
    font-size: 14px;
    text-align: center;
    line-height: 48px;
    border-top: 2px solid dimgray;
    cursor: pointer;
  }
}

#image-input {
  flex-grow: 1;
  order: 1;
}

.upload-area {
  display: block;
  height: 200px;
  // width: 600px;
  border: 1px dashed dimgray;
  cursor: pointer;
  position: relative;
  #upload-for {
    display: none;
  }
}

#camera {
  position: absolute;
  top: 50%;
  left: calc(50% - 12px);
}

//以下editで使用
.edit-img {
  height: 140px;
  width: 110px;
  object-fit: contain;
}
//checkboxの非表示
.hidden {
  display: none;
}
