.mypage__flex__right__paymethod {
  text-align: center;
  &__title {
    height: 34px;
    width: 652px;
    background-color: white;
    padding: 8px 24px;
    border-bottom: 2px solid #f5f5f5;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
  }
  &__main {
    height: 180px;
    width: 572px;
    background-color: white;
    padding: 64px;
    display: flex;
    flex-flow: column;
    .maypage-select-cards {
      height: 16px;
      width: 320px;
      font-weight: bold;
      margin-left: 46px;
    }
    &__btn {
      height: 107px;
      width: 572px;
      line-height: 107px;
      border-bottom: 2px solid #f5f5f5;
      &__item {
        display: inline-block;
        height: 50px;
        width: 320px;
        background-color: #ea352d;
        color: white;
        text-align: center;
        line-height: 50px;
        margin-bottom: 8px;
      }
      .paymethod-card-icon {
        color: white;
        margin-right: 10px;
      }
    }
    &__link {
      margin-top: 40px;
      color: #0099e8;
      font-size: 14px;
      text-align: right;
      .paymethod-chevron-icon {
        color: #0099e8;
        margin-left: 5px;
      }
    }
  }
}
