/* スマホサイズ */

@media screen and (max-width: 420px){
  .mypage__flex{
    flex-flow:column-reverse nowrap;
    width: 80%;
    margin: 0 auto;
    &__left{
      margin-top: 50px;
      width: 100%;
    }
    &__right{
      width: 100%;
    }
  }
  .card-body{
    flex-flow:column-reverse nowrap;
    width: 80%;
    margin: 0 auto;
    .card-contents{
      width: 100%;
      .card-head{
        font-size: 16px;
      }
      .card-details{
        width: 100%;
      }
    }
  }

  .card-blands{
    flex-wrap:wrap;
  }
  .card-image{
    margin-right: 8px;
  }
  #token_submit{
    width: 100%;
  }
  // ---ここから宮下出品ページ対応---
  .sell-main {
    width: 100%;
  }
  .sell-form__default {
    width: 100%;
  }
  .sell-content {
    width: 100%;
    padding: 0;
  }
  .sell-textarea-default {
    width: 100%;
  }
  .sell-select-wrap {
    width: 100%;
  }
  .sell-form__brand {
    // width: 200%;
  }
  .sell-details {
    
  }
  .sell-ship {

  }
  .sell-wrapper .sell-body .sell-main .sell-form__number  {
    width: 100px;
    padding: 0;
  }
  .exhibition_price {
    width: 100%;
  }
  .sell-footer__container {
    width: 100%;
  }
  .ul.buy {
    width: 100%;
  }
  .sell-form .sell__image {
    width: 100%;
  }
  .buy-link {
    font-size: 8px;
  }
}

/* タブレットサイズ */

@media screen and (min-width: 421px) and (max-width: 800px){
  .mypage__flex{
    flex-flow:column-reverse nowrap;
    width: 80%;
    margin: 0 auto;
    &__left{
      margin-top: 50px;
      width: 100%;
    }
    &__right{
      width: 100%;
    }
  }
  .card-blands{
    flex-wrap:wrap;
  }
  .card-image{
    margin-right: 8px;
  }
  .card-body{
    flex-flow:column-reverse nowrap;
    width: 80%;
    margin: 0 auto;
    .card-contents{
      width: 100%;
      .card-head{
        font-size: 24px;
      }
    }
  }
  #charge-form{
    width: 100%;
  }
  #token-submit{
    width: 343px;
  }
  .card-image{
    margin-right: 18px;
  }
  .form-group{
    width: 75%;
    margin: 0 auto;
  }
  #token_submit{
    width: 100%;
  }
  // ---ここから宮下出品ページ対応---
  .sell-main {
    width: 100%;
  }
  .sell-form__default {
    width: 100%;
  }
  .sell-content {
    width: 100%;
    padding: 0;
  }
  .sell-textarea-default {
    width: 100%;
  }
  .sell-select-wrap {
    width: 50%;
  }
 
  .sell-wrapper .sell-body .sell-main .sell-form__number  {
    width: auto;
    padding: 0;
  }
  .exhibition_price {
    width: 100%;
  }
  .sell-footer__container {
    width: 100%;
  }
  .ul.buy {
    width: 100%;
  }
  .sell-wrapper .sell-body .sell-main .sell-content .sell-btns__btn__back {
    width: 80%;
  }
}

/* タブレットサイズ */

@media screen and (min-width: 421px) and (max-width: 800px){
  .mypage__flex{
    flex-flow:column-reverse nowrap;
    width: 80%;
    margin: 0 auto;
    &__left{
      margin-top: 50px;
      width: 100%;
    }
    &__right{
      width: 100%;
    }
  }
  .card-blands{
    flex-wrap:wrap;
  }
  .card-image{
    margin-right: 8px;
  }
  .card-body{
    flex-flow:column-reverse nowrap;
    width: 80%;
    margin: 0 auto;
    .card-contents{
      width: 100%;
      .card-head{
        font-size: 24px;
      }
    }
  }
  #charge-form{
    width: 100%;
  }
  #token-submit{
    width: 343px;
  }
  .card-image{
    margin-right: 18px;
  }
  .form-group{
    width: 75%;
    margin: 0 auto;
  }
  #token_submit{
    width: 100%;
  }
  // ---ここから宮下出品ページ対応---
  .sell-main {
    width: 100%;
  }
  .sell-form__default {
    width: 100%;
  }
  .sell-content {
    width: 100%;
    padding: 0;
  }
  .sell-textarea-default {
    width: 100%;
  }
  .sell-select-wrap {
    width: 100%;
  }
  .sell-form__brand {
    width: 100%;
  }
  
  .dropzone-area {
    width: 100%;
    padding: 0 0 0 40px;
  }
  .dropzone-container {
    margin: 0 auto;
  }
  .sell-wrapper .sell-body .sell-main .sell-form__number  {
    width: 200px;
    padding: 0;
  }
  .exhibition_price {
    width: 100%;
  }
  .sell-footer__container {
    width: 100%;
  }
  .ul.buy {
    width: 80%;
  }
}

/* pcサイズ */

@media screen and (min-width: 801px){
  .user__registration__main{
    width: 700px;
    margin: 0 auto;
    &__title__contents__contents{
      padding:64px;
    }
  }
  .mypage__flex{
    justify-content: center;
    &__left{
      width: 250px;
      margin-right: 40px;
    }
    &__right{
      width: 65%;
    }
  }
  .card-head{
    padding: 0 10%;
  }
  .card-body{
    justify-content: space-between;
  }
  .card-contents{
    width: 75%;
    .card-head{
      font-size: 24px;
    }
  }
  .card-image{
    margin-right: 18px;
  }
  .card-input{
    width: 343px;
  }
  #token_submit{
    width: 343px;
  }
  .card-details{
    padding: 0 10%;
  }
  .form-group{
    width: 50%;
    margin: 0 auto;
  }
  .number{
    width: 100%;
  }
  // ---ここから宮下出品ページ対応---
  .sell-main {
    width: 48%;
  }
  .sell-form__default {
    width: 100%;
  }
  
  .sell-content {
    width: 100%;
    padding: 0;
  }
  .sell-textarea-default {
    width: 80%;
  }
  .sell-select-wrap {
    width: 100%;
  }
  .sell-form__brand {
    width: 100%;
  }
  
  .sell-textarea-default {
    width: 100%;
  }
  .sell-wrapper .sell-body .sell-main .sell-form__number  {
    // 金額入力バー
    width: 200px;
    padding: 0;
  }
  .exhibition_price {
    width: 100%;
  }
  .sell-footer__container {
    width: 100%;
  }
  .ul.buy {
    width: 100%;
  }
  .sell-footer__container__box {
    margin: 0 auto;
    width: 100%;
  }
  .sell-wrapper .sell-body .sell-main .sell-content .sell-ship__box {
    width: 100%;
  }
  
  .sell-form .sell__image {
    width: auto;
  }
}


@media screen and (min-width: 1068px){
  .user__registration__main__title__contents{
    padding: 40px 40px 64px;
  }
}

