/* ここからレスポンシブデザインのcss */

/* スマホサイズ */

@media screen and (max-width: 420px){
    /*マイページのレスポンシブ対応*/
  .mypage__flex{
    flex-flow:column-reverse nowrap;
    width: 80%;
    margin: 0 auto;
    &__left{
      margin-top: 50px;
      width: 100%;
    }
    &__right{
      width: 100%;
    }
  }
  /*クレジットカード情報ページのレスポンシブ対応*/
  .card-body{
    flex-flow:column-reverse nowrap;
    width: 80%;
    margin: 0 auto;
    .card-contents{
      width: 100%;
      .card-head{
        font-size: 16px;
      }
      .card-details{
        width: 100%;
      }
    }
  }
  .card-blands{
    flex-wrap:wrap;
  }
  .card-image{
    margin-right: 8px;
  }
  #token_submit{
    width: 100%;
  }

  /*トップページのレスポンシブ対応*/
  #top__header--logo{
    width: 91px;
    height: 26px;
  }
  .top__header{
    background-color: white;
    position: fixed;
    z-index: 100;
    padding: 0 10px;
    width: 100%;
    &__item{
      &__user-function{
        &__log-out,&__log-in{
          margin-left: 5px;
        }
        &__my-page,&__new-user,&__log-in,&__log-out {
          width: 80px;
          &__text{
            font-size: 12px;
          }
        }
      }
    }
  }
  .upper-contents{
    padding: 0 10px;
    height: calc( 100vh  - 105px);
    &__box{
      padding-top: 120px;
      height: 100%;
      position: relative;
    }
  }
  .topic-first{
    font-size: 24px;
  }
  .topic-second{
    font-size: 16px;
  }
  .topic-first,.topic-second{
    filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
    text-align: center;
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
  }
  #parents{
    font-size: 6px;
  }
  #parents-item{
    width: 130px;
  }
  #parents-text{
    padding-left: 5px;
  }
  #children,#grandchildren{
    min-width: 135px;
    font-size : 8px;
  }
  .topic-items{
    position: absolute;
    bottom: 30px;
    &__App img{
      margin-bottom: 15px;
    }
  }
  .top-content-text{
    height: calc( 100vh - 105px);
  }
}

/* タブレットサイズ */

@media screen and (min-width: 421px) and (max-width: 800px){
  /*マイページのレスポンシブ対応*/
  .mypage__flex{
    flex-flow:column-reverse nowrap;
    width: 80%;
    margin: 0 auto;
    &__left{
      margin-top: 50px;
      width: 100%;
    }
    &__right{
      width: 100%;
    }
  }
  /*カード情報入力画面のレスポンシブ対応*/
  .card-blands{
    flex-wrap:wrap;
  }
  .card-image{
    margin-right: 8px;
  }
  .card-body{
    flex-flow:column-reverse nowrap;
    width: 80%;
    margin: 0 auto;
    .card-contents{
      width: 100%;
      .card-head{
        font-size: 24px;
      }
    }
  }
  #charge-form{
    width: 100%;
  }
  #token-submit{
    width: 343px;
  }
  .card-image{
    margin-right: 18px;
  }
  .form-group{
    width: 75%;
    margin: 0 auto;
  }
  #token_submit{
    width: 100%;
  }
  #top__header--logo{
    width: 140px;
    height: 40px;
  }
  /*トップページのレスポンシブ対応*/
  .top__header{
    margin: 0 40px;
    width: calc(100% - 80px);
    &__item{
      &__type__category{
        margin-right: 15px;
      }
      &__user-function{
        &__log-out,&__log-in{
          margin-left: 15px;
        }
        &__my-page,&__new-user,&__log-in,&__log-out {
          width: 90px;
          &__text{
            font-size: 14px;
          }
        }
      }
    }
  }

  .upper-contents{
    display: table;
    padding: 0 30px;
    width: 100%;
    height: 560px;
    &__box{
      display: table-cell;
      vertical-align: middle;
      margin: 0 auto;
    }
  }

  .topic-first{
    font-size: 32px;
  }
  .topic-second{
    font-size: 24px;
  }
  .topic-first,.topic-second{
    filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
    text-align: center;
    padding: 0.5em 1em;
    background: -moz-linear-gradient(#ffb03c, #ff708d);
    background: -webkit-linear-gradient(#ffb03c, #ff708d);
    background: linear-gradient(to right, #ffb03c, #ff708d);
    color: #FFF;
  }

  .topic-items{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    &__App{
      margin-right: 32px;
    }
  }

  #parents{
    font-size: 10px;
    font-weight: 400;
  }
  #parents-item{
    width: 150px;
  }
  #parents-text{
    padding-left: 5px;
  }
  #children,#grandchildren{
    min-width: 150px;
    font-size : 10px;
  }

}

/* pcサイズ */

@media screen and (min-width: 801px){
  /*マイページのレスポンシブ対応*/
  .user__registration__main{
    width: 700px;
    margin: 0 auto;
    &__title__contents__contents{
      padding:64px;
    }
  }
  .mypage__flex{
    justify-content: center;
    &__left{
      width: 250px;
      margin-right: 40px;
    }
    &__right{
      width: 65%;
    }
  }
  /*カード情報入力画面のレスポンシブ対応*/
  .card-head{
    padding: 0 10%;
  }
  .card-body{
    justify-content: space-between;
  }
  .card-contents{
    width: 75%;
    .card-head{
      font-size: 24px;
    }
  }
  .card-image{
    margin-right: 18px;
  }
  .card-input{
    width: 343px;
  }
  #token_submit{
    width: 343px;
  }
  .card-details{
    padding: 0 10%;
  }
  .form-group{
    width: 50%;
    margin: 0 auto;
  }
  .number{
    width: 100%;
  }
  /*トップページのレスポンシブ対応*/
  #top__header--logo{
    width: 140px;
    height: 40px;
  }
  .top__header{
    margin: 0 80px;
    width: calc(100% - 160px);
    &__item{
      &__type__category{
        margin-right: 30px;
      }
      &__user-function{
        &__log-out,&__log-in{
          margin-left: 15px;
        }
        &__my-page,&__new-user,&__log-in,&__log-out {
          width: 100px;
          &__text{
            font-size: 16px;
          }
        }
      }
    }
  }
  .upper-contents{
    padding: 0 30px;
    height: 560px;
    &__box{
      padding-top: 100px;
    }
  }
  .topic-first{
    font-size: 32px;
    color: #ffffff;
    
  }
  .topic-second{
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 7px;
  }
  .topic-first,.topic-second{
  filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
  text-align: center;
  padding: 0.5em 1em;
  background: -moz-linear-gradient(#ffb03c, #ff708d);
  background: -webkit-linear-gradient(#ffb03c, #ff708d);
  background: linear-gradient(to right, #ffb03c, #ff708d);
  color: #FFF;
  }

  .topic-items{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    &__App{
      margin-right: 32px;
    }
  }

  #parents{
    font-size: 14px;
    font-weight: 600;
  }
  #parents-item{
    width: 220px;
  }
  #parents-text{
    padding-left: 5px;
    padding: 10px 20px;
  }
    
  #children,#grandchildren{
    min-width: 220px;
    font-size : 12px;
  }
  #children-text,#grandchildren-text{
    padding: 5px 20px;
  }

}


@media screen and (min-width: 1068px){
  .user__registration__main__title__contents{
    padding: 40px 40px 64px;
  }
}

/* レスポンシブデザイン終わり */