@import "mixin";

.sell-wrapper {
  background-color:rgb(245, 245, 245);
  height: 100%;
  width: 100%;
  .sell-header {
    text-align: center;
    height: 90px;
    line-height: 128px;
  }
  .sell-body {
    .sell-main {
      height: 100%;
      margin: 0 auto;
      background-color: #fff;
      .sell-main-head {
        text-align: center;
        padding: 32px 16px;
        font-size: 22px;
        margin: 0;
        font-weight: bold;
      }      
      .sell-form {
        background-color: #fff;
        height: 100%;
        border-top: solid 1px #eee;
        &__default {
          margin: 8px 0 0;
          height: 48px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          line-height: 1.5;
          font-size: 16px;
        }
        
        &__brand {
          height: 48px;
          background-color: white;
          border: 1px solid #ccc;
          border-radius: 4px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
          padding: 0 30px;
          font-weight: normal;
        }
        
        &__number {
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
          font-family: inherit;
          font-size: inherit;
          height: 48px;
          margin: 0;
          outline: none;
          padding: 0 16px;
          width: 200px;
          text-align: right;
        }
      }
      .sell-img-box {
        padding: 40px;
        margin: 0 auto;
        &__upload {
          height: 60px;
          &__title {
            font-weight: bold;
          }
          &__text {
            font-size: 15px;
            margin-top: 8px;
            font-size: 13px;
          }
        }
        &__dropbox {
          height: 162px;
          margin: 0 auto;
          background-color: #f5f5f5;
          text-align: center;
          padding: 40px;
          border: #ccc dashed 0.5px;
          font-size: 14px;
          font-weight: bold;
          &__text {
            line-height: 22px;
            padding: 23px;
          }
        }
      }
      .sell-content {
        padding: 40px;
        border-top: 1px solid #eee;
        font-size: 14px;
        margin: 0 auto;
        .sell-name {
          width: 100%;
          margin: 8px 0 0;
          &__head {
          display: flex;
          height: 30px;
            &__text {
              font-weight: bold;                
            }
          }
          &__form {
          }
        }
        .sell-description {
          font-size: 14px;
          margin-top: 40px;
          &__head {
          display: flex;
          height: 30px;
            &__text {
              font-weight: bold;                
            }
          }
          &__form {
          }
        }
        .sell-details {
          &__text {
            color: #888;
            font-weight: bold;
          }
          &__box {
            font-weight: bold;
            &__category {
              &__head {
                margin-bottom: 40px;
              }
            }
            &__status {
              margin-top: 40px;
            }
          }
        }
        .sell-brand {
          margin-top: 40px;
        }
        .sell-ship {
          font-weight: bold;
          &__text {
            color: #888;
          }
          &__box {
            &__category {
              margin-bottom: 40px;
            }
            &__status {
              margin-top: 40px;
            }
          }
        }
        .sell-price {
          &__left {
            color: #888;
          }
          &__box {
            &__container {
              display: flex;
              justify-content: space-between;
              padding-bottom: 12px;
              &__text {
                font-weight: bold;
                width: 96px;
                height: 19px;
              }
              &__right {
                display: flex;
                &__money {
                  margin-right: 8px;
                  line-height: 57px;
                }
                &__select {
                }
              }
            }
            &__fee {
              border-top: 1px solid #ccc;
              padding: 25px 0;
              display: flex;
              justify-content: space-between;
            }
            &__profit {
              border-top: 1px solid #ccc;
              padding: 25px 0;
              font-weight: bold;
              font-size: 16px;
              display: flex;
              justify-content: space-between;
              &__price {
                font-size: 34px;
              }
            }
            
          }
        }
        .sell-btns {
          font-size: 14px;
          &__text {
          }
          &__btn {
            text-align: center;
            &__up {
              height: 50px;
              margin-top: 40px;
              background-color: #3ccace;
              line-height: 50px;
              color: white;
              cursor: pointer;
              width: 100%;
              text-decoration: none;
            }
            &__back {
              height: 50px;
              background-color: #aaaaaa;
              line-height: 50px;
              color: white;
              width: 80%;
              margin: 24px auto 0;
              &__link {
                width: 100%;
                height: 100%;
              }
            }
          }
          
          
        }
      }
      
    }
  }
}   

.sell-footer {
  &__container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 12px;
    padding: 40px 0;
    &__box {
      width: 100%;
    }
    &__image {
      margin: 40px auto 0;
      text-align: center;
    }
    &__inc {
      margin: auto;
      text-align: center;
      padding-top: 8px;
    }    
  }
}

ul.buy {
  display: flex;
  justify-content: space-evenly;
  li.buy {
    list-style: none;
  }
}

.sell-link {
  text-decoration: none;
  &__note {
  color: #0099e8;
  }
  &__back {
    color: white;
  }
  &__continue {
    height: 50px;
    margin-top: 40px;
    background-color: #3ccace;
    line-height: 50px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-top: 1px solid #ccc;
    display: block;
    margin: 30px auto 0;
  }
}

.require {
  background-color: #3ccace;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  &--brand {
    background-color: gray;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
  }
}

.sell-textarea-default {
  margin: 8px 0 0;
  height: 134px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.sell-select-wrap {
  font-weight: normal;
  .sell-select-icon {
    position: relative;
    margin-top: 4px;
    .sell-select-default {
      height: 48px;
      width: 100%;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
      padding: 0 30px;
    }
    &__allow {
      position: absolute;
      right: 14px;
      top: 50%;
      z-index: 2;
      color: #888;
      font-size: 20px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
    }
  }
}



.modal{
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;

  &__bg{
    background: rgba(0,0,0,0.8);
    height: 100vh;
    position: absolute;
    width: 100%;
  }
  &__content{
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    text-align: center;
    &__border {
      height: 33px;
    }
    &__head {
      font-weight: bold;
      font-size: 22px;
    }
    &__link {
      text-decoration: none;
      color: #0099e8;
      display: block;
      padding-top: 10px;
      width: 200px;
      margin: 0 auto;
    }
  }
}

.error {
  color: red;
}
