@import "mixin";

.top {
  width: 100%;
  height: 100vh;
  position: relative;
  &__header {
    height: 105px;
    &__home {
      display: flex;
      min-height: 62px;
      margin: 0 auto;
      padding: 15px 0 0;
      &__wrapper {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        &__logo{
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
        }
        &__search {
          width: 100%;
        }
      }
      .new-message {
        width:100%;
        height: 40px;
        display: flex;
        margin-bottom: 5px;
        .search-box{
          width:100%;
          height: 40px;
          padding: 0 10px;
        }
        .search-btn {
          width: 40px;
          height: 40px;
          background-color: rgb(88, 230, 235);
          font-size: 20px;
          .fa-search {
            color: white;
          }
        }
      }
    }
    &__item {
      font-size: 14px;
      display: flex;
      justify-content: space-between;
      height: 30px;
      line-height: 30px;
      &__type {
        display: flex;
        &__category {
          width: 80px;
          &__wrapper {
            &__icon::before {
              color: #3ccace;
            }
            &__target {
              flex: none;
              display: inline;
            }
            &__target:hover {
              color: #3CCACE;
              cursor: pointer;
            }
            &__flex {
              display: flex;
              &__parents {
                color: dimgray;
                line-height: 36px;
                z-index: 1;
                &__item {
                  display: none;
                  background-color: white;
                }
              }
              &__children {
                z-index: 2;
                @include for_children_grandchildren;
                &__item {
                  &__text {
                    @include for_children_grandchildren_text;
                  }
                }
              }
              &__grandchildren {
                z-index: 2;
                @include for_children_grandchildren;
                &__item {
                  &__text {
                    @include for_children_grandchildren_text;
                  }
                  &__text:hover {
                    background-color: whitesmoke;
                  }
                }
              }
            }
          }
        }
        &__brand {
          z-index: 2;
          width:90px;
          &__icon {
            color: #3CCACE;
            padding-left: 10px;
          }
          &__target {
            display: inline;
          }
          &__target:hover {
            color: #3ccace;
            cursor: pointer;
          }
          &__navi {
            display: none;
            min-width: 220px;
            &__item {
              color: dimgray;
              font-size: 14px;
              font-weight: 600;
              line-height: 36px;
              &__text {
                padding: 10px 20px;
                background-color: white;
              }
            }
          }
        }
      } 
      &__user-function{
        display: flex;
        &__log-out,&__log-in {
          margin-left: 30px;
        }
        &__my-page {
          border-width: 1px;
          border-style: solid;
          border-color: #8a3ccf;
          border-image: initial;
          border-radius: 4px;
          background-color: #8a3ccf;
          display: block;
          position: relative;
          width: 100px;
          height: 30px;
          &__text{
            text-align: center;
            position: absolute;
            top: 0;
            line-height: 30px;
            width: 100%;
            color: white;
            font-size: 14px;
          }
        }
        // 時間が取れれば、mixinにする
        &__new-user {
          border-width: 1px;
          border-style: solid;
          border-color: #3CCACE;
          border-image: initial;
          border-radius: 4px;
          background-color: #3CCACE;
          display: block;
          position: relative;
          height: 30px;
          &__text{
            text-align: center;
            position: absolute;
            top: 0;
            line-height: 30px;
            width: 100%;
            color: white;
          }
        }
        &__log-in {
          border-width: 1px;
          border-style: solid;
          border-color: #cf413c;
          border-image: initial;
          border-radius: 4px;
          display: block;
          position: relative;
          height: 30px;
          transition: all 0.3s ease-out 0s;
          z-index: 1;
          &__text{
            text-align: center;
            position: absolute;
            top: 0;
            line-height: 30px;
            width: 100%;
            color: #cf413c;
            z-index: 3;
            transition: all 0.3s ease-out 0s;
          }
          &__text:hover{
            color: white;
          }
        }
        &__log-in:hover{
          background-color: #cf413c;
        }

        &__log-out {
          border-width: 1px;
          border-style: solid;
          border-color: #80cf3c;
          border-image: initial;
          border-radius: 4px;
          display: block;
          position: relative;
          width: 100px;
          height: 30px;
          transition: all 0.3s ease-out 0s;
          z-index: 1;
          &__text{
            text-align: center;
            position: absolute;
            top: 0;
            line-height: 30px;
            width: 100%;
            color: #80cf3c;
            font-size: 14px;
            z-index: 3;
            transition: all 0.3s ease-out 0s;
          }
          &__text:hover{
            color: white;
          }
        }
        &__log-out:hover{
          background-color: #80cf3c;
        }
        // mixinにしたい部分ここまで
      }
    }
  }
  .top-main{
    position: absolute;
    top: 105px;
    width: 100%;

    
    .top-upper {
      .upper-contents {
        width: 100%;
        background-image: image-url("bg-mainVisual-pict_pc.jpg");
        background: cover;
        background-size: cover;
        background-repeat: no-repeat;
        &__box {
          &__App {
            img {
              display: block;
            }
            &:hover {
              opacity: 0.5; 
            }
          }
          &__Google {
            img{
              display: block;
            }
            &:hover {
              opacity: 0.5; 
            }
          }
        }     
      }
    }
    .main-imageBox {
      width: 100%;
      height: 400px;
      display: flex;
      align-items: center;
      background: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: image-url("bg-topMiddleDl-pict.jpg");
      &__backgroundImage {
        color: #fff;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        text-align: left;
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        .backgroundImage-contents {
          color: #ffffff;
          &__box {
            padding-top: 30px;
            .topic-first-2 {
              font-weight: bold;
              font-size: 27px;
              color: #ffffff;
              filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
              margin-bottom: 24px;
            }
            .topic-second-2 {
              margin-bottom: 7px;
              font-size: 18px;
              color: #ffffff;
              filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
            }
            .topic-items-2 {
              margin-top: 46px;
              display: flex;
              &__App {
                &:hover {
                  opacity: 0.5; 
                }
              }
              &__Google {
                margin-left: 10px;
                &:hover {
                  opacity: 0.5; 
                }
              }
            }
          }
        }
      }
    }
    .top-content-text {
      width: 100%;
      height: auto;
      .top-introduction {
        margin: 25px 0;
        font-size: 26px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 15px;
        line-height: 1.4;
        position: relative;
        &::after {
          content: "";
          width: 70px;
          height: 4px;
          background-color: #3CCACE;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%);
        }
      }
      .top-content-imageBox {
        .lists-imageBox {
          .listOnly-imageBox {
            text-align: center;
            flex-direction: column;
            align-items: center;

            &__image {
              width: 100%;
              margin: 0 auto;
              position: relative;
              margin-bottom: 20px;
              .number-one {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4%;
                font-size: 30px;
                text-align: center;
                margin: 0 5px 0 0;
                padding: 10px 20px;
                background-color: #3CCACE;
                color: #fff;
              }
            }
            &__body {
              font-weight: bold;
              font-size: 24px;
              line-height: 50px;
              margin-left: 2px;
              text-align: center;
              span {
                color: #3CCACE;
              } 
            }
            &__bodySecond {
              font-size: 19px;
              font-weight: bold;
            }
            .picUp-text {
              display: inline-block;
              text-align: center;
              width: 70%;
              font-size: 18px;
              line-height: 1.5;
              margin-bottom: 15px;
              font-weight: normal;
            }
          }
        }
      }
    }
    .span-box {
      width: 100%;
      height: 80px;
    }
    .top-item-contents {
      background-color: #f8f8f8;
      &__infomation {
        background-color: #f8f8f8;
        height: 100%;

        .picup-category {
          text-align: center;
          font-size: 28px;
          line-height: 1.4;
          font-weight: bold;
          color: #00BCD4;
          background: #e4fcff;/*背景色*/
          border-top: solid 6px #1dc1d6;

        }
        .categoryBox {
          .categoryHead {
            font-size: 24px;
            color: #00BCD4;
            background: #e4fcff;/*背景色*/
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/

            .category-text {
              color: #3CCACE;
              text-align: center;
            }
          }
          .categoryList {
            width: 795px;
            margin: 0px auto;
            padding: 26px 80px;
            display: flex;
            overflow: scroll;
            justify-content: space-between;
            &__exhibition {
              width: 230px;
              display: inline-block;
              margin-right: 30px;
              background-color: #ffffff;
              &__image {
                position: relative;
                .sold-out {
                  position: absolute;
                  top: 0;
                  opacity: 0.7; 
                }
              }
              &__body {
                padding: 20px;
                .exhibition-price {
                  &__box {
                  }
                  display: flex;
                  justify-content: space-between;
                  .exhibition-icon {
                    display: flex;
                    padding-top: 3px;
                    .fa-star {
                    }
                  }
                }
                .tax-include {
                  font-size: 10px;
                }
              }
            }
          }
        }
      } 
    }
    .span-box-second {
      height: 60px;
      width: 100%;
      background-color: #f8f8f8;
    }
    .appFooter {
      background-image: image-url("bg-appBanner-pict.jpg");
      width: 100%;
      height: 359px;
      padding: 100px 40px;
      position: relative;
      background-size: cover;
      background-position: center;
      &__box {
        text-align: center;
        .banner-text {
          color: #ffffff;
          font-size: 24px;
          font-weight: bold;
          filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
        }
        .banner-body {
          color: #ffffff;
          font-size: 36px;
          filter: drop-shadow(3px 3px 3px rgba(100,100,100,0.6));
        }
        .appFooter-icon {
          margin-top: 20px;
          &__App {
            &:hover {
              opacity: 0.5; 
            }
          }
          &__Google {
            margin-left: 10px;
            &:hover {
              opacity: 0.5; 
            }
          }
        }
      }
    }
  }
}

.top-footer-box {
  .top-footer {
    width: 100%;
    margin-bottom: 0;
    // height: 40%;
    background-color: rgb(65, 62, 62);
    .footer-contents {
      display: flex;
      justify-content: center;
      margin: 0 100px;
      padding-top: 50px;
      .footer-box {
        margin: 0 70px;
        height: 20vh;
        color: white;
        .box-link {
          justify-content:space-between;
          display: block;
          .aaa{
            color: white;
            font-size: 5px;
          }
        }
      }
    }
  }
  .footer-icon-box {
    padding-bottom: 20px;
    .footer-icon{
      width: 200px;
      height: 65px;
      margin: 5px auto;
    }
    .footer-second-icon{
      width: 80px;
      height: 20px;
      margin: 0 auto;
      color: white;
    }
  }
}
.top__sell-page{
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  z-index: 1;
  &__link{
    //作業完了後修正
    text-decoration: none;
    color: white;
    .camera-content {
      &__icon {
      }
      .purchase-text {
        color: #ffffff;
      }
    }
  }
}

.image-top {
  object-fit: cover;
  vertical-align: top;
  // max-width: 100%;
  // height: 100%;
  // width: auto;
  // height: auto;
}

.categoryList::-webkit-scrollbar {
  height: 7px;
  width: 0;
}
.categoryList::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg,#43e2c6,#3183d0);
  border-radius: 3px;
}
.categoryList::-webkit-scrollbar-track {
  background: rgba(100,100,100, .5);
  border-radius: 3px;
}