/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import "font-awesome-sprockets";
@import "./font-awesome";
@import "reset";
@import "contents/buy";
@import "contents/cards";
@import "contents/exhibitions";
@import "contents/top-page";
@import "contents/mypage";
@import "contents/sell";
@import "contents/user";
@import "contents/responsive";

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  color: #333333;
}

a {
  color: #333333;
  text-decoration: none;
}

.nanase {
  object-fit: cover;
}

.error {
  color: red;
}

.error_body {
  background-color: mintcream;
  width: 100%;
  height: 100vh;
  h1 {
    font-size: 40px;
    padding: 10px;
    p {
      font-size: 20px;
    }
  }
}
.main__show__content__top__itemInfo__image__ul__li{
  &__top{
    object-fit: contain;
    width: 400px;
    height: 200px;
    margin: 0 auto;
  }
}

.alert {
  background-color: #ea352d;
  text-align: center;  
  color: white;
}

.notice {
  background-color: #3CCACE;
  text-align: center;  
  color: white;
}

