.buy-wrapper {
  background-color:rgb(245, 245, 245);
  height: 100%;
  width: 100%;
  .buy-header {
    text-align: center;
    height: 90px;
    line-height: 128px;
  }
  .buy-body {
    .buy-main {
      width: 700px;
      height: 100%;
      margin: 0 auto;
      background-color: #fff;
      .buy-main-head {
        text-align: center;
        padding: 32px 16px;
        font-size: 22px;
        margin: 0;
        font-weight: bold;
      }      
      .buy-container {
        background-color: #fff;
        height: 100%;
        .buy-content {
          padding: 32px 16px;
          border-top: solid 1px #eee;
          .buy-item-container {
            &__box {
              display: flex;
              justify-content: space-around;
              margin: 0 auto;
              height: 80px;
              max-width: 343px;
              &__detail {
                padding-left: 21px;
                
                &__name {
                  font-size: 14px;
                  padding-bottom: 31px;
                }
                &__price {
                  font-weight: bold;
                  &__number {
                  font-size: 15px;
                  display: flex;
                  }
                  &__tax {
                  font-size: 12px;
                  }
                }
                &__name {
                  font-size: 14px;
                  padding-bottom: 31px;
                }
              }
            }
          }
          .buy-pay {
            &__box {
              width: 400px;
              margin: 10px auto;

              &__container {
                padding-bottom: 12px;
                &__price {
                  display: flex;
                  justify-content: space-between;
                  font-weight: bold;
                  &__text {
                    font-weight: bold;
                    width: 96px;
                    height: 19px;
                  }
                  &__right {
                    display: flex;
                    font-size: 30px;
                    &__money {
                      margin-right: 8px;
                      line-height: 57px;
                    }
                    &__select {
                      width: 200px;
                    }
                  }
                  &__right p {
                    height: 35px;
                    margin-bottom: 5px;
                  }
                }
                &__check {
                  margin: 18px 0;
                  &__btn {
                    color: #ccc;
                  }
                }
                &__fee {
                  border-top: 1px solid #ccc;
                  padding-top: 25px;
                  display: flex;
                  justify-content: space-between;
                  font-size: 14px;
                }
                &__credit {
                  font-size: 14px;
                  padding-top: 8px;
                }
                &__card {
                  height: 15px;
                  width: 400px;
                  margin: 8px 0 20px 0;
                }
                &__ship {
                  border-top: 1px solid #ccc;
                  border-bottom: 1px solid #ccc;
                  padding: 25px 0;
                  font-size: 16px;
                  height: 170px;
                  margin-bottom: 30px;
                  &__head {
                  display: flex;
                  justify-content: space-between;
                  margin-bottom: 6px;
                  }
                  &__price {
                    font-size: 14px;
                    height: 80px;
                  }
                }
                .buy-btn {
                  &__container {
                  border-top: 1px solid #ccc;
                  padding-top: 25px;
                  display: block;
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}

.btn {
  display: block;
  text-align: center;
  height: 50px;
  width: 400px;
  margin-top: 40px;
  background-color: #3ccace;
  line-height: 50px;
  color: white;
  margin: 0 auto;
  text-decoration: none;
}

.sell-footer {
  &__container {
    width: 456px;
    height: 100%;
    margin: 0 auto;
    font-size: 12px;
    padding: 40px 0;
    &__box {
      width: 456px;
    }
    &__image {
      margin: 40px auto 0;
      text-align: center;
    }
    &__inc {
      margin: auto;
      text-align: center;
      padding-top: 8px;
    }    
  }
}

.buy-link {
  text-decoration: none;
  color: #333;
  &__change {
    color: #0099e8;
    font-size: 14px;
    text-decoration: none;

  }
}

h3.buy {
  font-weight: bold;
  font-size: 14px;
}

ul.buy {
  display: flex;
  justify-content: space-evenly;
  li.buy {
    list-style: none;
  }
}
