.mypage__flex__right__logout {
  height: 51px;
  width: 572px;
  background-color: white;
  text-align: center;
  line-height: 51px;
  padding: 64px;
  &__btn {
    display: inline-block;
    height: 50px;
    width: 320px;
    background-color: #ea352d;
    color: white;
    text-align: center;
    line-height: 50px;
  }
}