.sell.wrapper {
  background-color:rgb(245, 245, 245);
  height: 100%;
  width: 100%;
  .sell.header {
    text-align: center;
    height: 90px;
    line-height: 128px;
  }
  .sell.body {

    .sell.main {
      width: 700px;
      height: 100%;
      margin: 0 auto;
      background-color: #fff;
      
      .sell-form {
        background-color: #fff;
        height: 100%;
        border-top: solid 1px #eee;
        &__box {
          width: 620px;
          padding: 40px;
          &__upload {
            width: 620px;
            height: 60px;
            &__title {
              font-weight: bold;
            }
            &__text {
              font-size: 15px;
              margin-top: 8px;
              font-size: 13px;
            }
          }
          &__dropbox {
            width: 540px;
            height: 100px;
            margin: 0 auto;
            background-color: #f5f5f5;
            text-align: center;
            padding: 40px;
            border: #ccc dashed 0.5px;
            font-size: 14px;
            font-weight: bold;
            &__text {
              line-height: 22px;
              padding: 30px;
            }
          }
        }
        .sell.content {
          padding: 40px;
          border-top: 1px solid #eee;
          width: 620px;
          font-size: 14px;
          font-weight: bold;
          .sell.name {
            width: 100%;
            margin: 8px 0 0;
            &__head {
            display: flex;
            height: 30px;
              &__text {
                
              }
            }
            &__form {
            }
          }
          .sell.description {
            font-size: 14px;
            font-weight: bold;
            margin-top: 40px;
            &__head {
            display: flex;
            height: 30px;
              &__text {
                
              }
            }
            &__form {
            }
          }
          .sell.details {
            display: flex;
            justify-content: space-between;
            &__text {
              color: #888;
            }
            &__box {
              width: 400px;
              &__category {
                &__head {
                  margin-bottom: 40px;
                }
              }
              &__status {
                &__head {
                }
              }
            }
          }
          .sell.ship {
            display: flex;
            justify-content: space-between;
            &__text {
              color: #888;
            }
            &__box {
              width: 400px;
              &__category {
                margin-bottom: 40px;
                &__head {
                }
              }
              &__status {
                &__head {
                }
              }
            }
          }
          .sell.price {
            display: flex;
            justify-content: space-between;
            &__text {
              color: #888;
            }
            &__box {
              width: 400px;
              &__category {
                margin-bottom: 40px;
              }
              &__fee {
                border-top: 1px solid #ccc;
                padding: 25px 0;
              }
              &__profit {
                border-top: 1px solid #ccc;
                padding: 25px 0;
              }
            }
          }
          .sell.btns {
            font-size: 14px;
            &__text {
            }
            &__btn {
              text-align: center;
              &__up {
                height: 50px;
                margin-top: 40px;
                background-color: #3ccace;
                line-height: 50px;
                color: white;
              }
              &__back {
                height: 50px;
                background-color: #aaaaaa;
                line-height: 50px;
                color: white;
                width: 45%;
                margin: 24px auto 0;
              }
            }
          }
        }
      }
      .sell-footer {
        
      }
    }
    
  }
  .sell-footer {
    // background-color: #272727;
    // color: #fff;
    &__container {
      width: 456px;
      height: 100%;
      margin: 0 auto;
      font-size: 12px;
      padding: 40px 0;
      &__box {
        display: flex;

        &__text {
          margin: auto;
        }
      }
      &__image {
        margin: 40px auto 0;
        text-align: center;
      }
      &__inc {
        margin: auto;
        text-align: center;
        padding-top: 8px;
      }    
    }
  }
}

.main-head {
  text-align: center;
  padding: 32px 16px;
  font-size: 22px;
  margin: 0;
}

.sell-form__upload__head {
  font-size: 16px;
}

.link {
  text-decoration: none;
  color: #0099e8;
}

.require {
  background-color: #3ccace;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}

.form-default {
  width: 586px;
  margin: 8px 0 0;
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.textarea-default {
  width: 586px;
  margin: 8px 0 0;
  height: 122px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}

.select-default {
  text-transform: none;
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  color: green;
}
