.user__registration__wrapper{
  width: 100%;
  background-color: #f8f8f8;
}

.user--label{
  font-weight: 600;
}
.user--field{
  margin-top: 32px;
}

.user__must-input{
  background-color: #3CCACE;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.user__optional-input{
  background-color: #cccccc;
  margin-left: 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}

.user__input__default{
  height: 48px;
  margin-top: 8px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: 100%;
}

.user__input__default__half{
  height: 48px;
  margin: 8px 0 0 ;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  width: calc(50% - 6px);
}
@media screen and (min-width: 768px) {
  .user__input__select{
    width: 76px;
  }
}
.user__input__select{
  width: calc(34% - 17px);
  display: inline-block;
}

.user__input__default__select {
  height: 48px;
  margin: 8px 0 0 ;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}




.user__registration__header{
  text-align: center;
  height: 128px;
  &__logo{
    padding-top: 40px;
  }
}
@media screen and (min-width: 768px){
  .user__registration__main{
    width: 700px;
    margin: 0 auto;
  }
}
.user__registration__main{
  background-color: white;
  &__title{
    font-size: 22px;
    border-bottom: solid 1px #eee;
    padding: 32px;
    font-weight: bold;
    text-align: center;
  }
  @media screen and (min-width: 1068px){
    &__contents{
      padding: 40px 40px 64px;
    }
  }
  @media screen and (min-width: 768px){
    &__contents{
      padding:64px;
    }
  }
  &__contents{
    padding: 24px 16px 40px;
    max-width: 343px;
    margin: 0 auto;
  }
}
.user--actions__btn{
  margin-top: 32px;
  background-color: #3CCACE;
  border: 1px solid #3ccace;
  color: #fff;
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

// select {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   cursor: pointer;
// }
// select::-ms-expand {
//   display: none;
// }