.mypage
  .mypage__flex
    = render "shared/mypage_flex_left"
    .mypage__flex__right
      .mypage__flex__right__user
        =link_to "#", class: "mypage__flex__right__user__wrapper" do
          .mypage__flex__right__user__wrapper__img
          .mypage__flex__right__user__wrapper__name
            = @user.nickname
          .mypage__flex__right__user__wrapper__info
            .mypage__flex__right__user__wrapper__info__assess
              評価
              %span.mypage-span ０
            .mypage__flex__right__user__wrapper__info__exhibition
              出品数
              %span.mypage-span ０
      .mypage__flex__right__tab
        .mypage__flex__right__tab__left#mypage-tab-1
          お知らせ
        .mypage__flex__right__tab__right#mypage-tab-2
          やることリスト
      .mypage__flex__right__message
        .mypage__flex__right__message__attention
          お知らせの商品がありません
      .mypage__flex__right__history
        購入した商品
      .mypage__flex__right__tab
        .mypage__flex__right__tab__left#mypage-tab-3
          取引中
        .mypage__flex__right__tab__right#mypage-tab-4
          過去の取引
      .mypage__flex__right__message
        .mypage__flex__right__message__attention
          取引中の商品がありません